body {
    --main-color: #5362CE;
    --place-holder: #d1d1d1;
    --sub-color: #EAECFA;
    --dark-grey: #7a7c83;
    --white-grey: #d4d4d4;

    font-size: normal;
    font-weight: bold;
}

.bold {
    font-weight: bolder;
}

.large {
    font-size: large;
}

.small {
    font-size: small;
}

.smaller {
    font-size: x-small;
}

.dark-grey {
    color: #7a7c83;
}

.white-grey {
    color: #d4d4d4;

}

.white {
    color: white;
}

.align-left {
    align-self: flex-start;
}

h1 {
    margin-left: 20px;
    font-weight: bolder;
}

button {
    background-color: var(--main-color);
    box-shadow: none;
    border: var(--main-color) 0 solid;
}

button:hover {
    cursor: pointer;
}

.hover-pointer:hover {
    cursor: pointer;
    color: var(--dark-grey);
}

.hover-area:hover {
    background-color: var(--white-grey);
}

.container {
    display: flex;
    flex-direction: column;
}

.searching {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: var(--main-color);
    box-shadow: 0 0.25rem 0.25rem 0 var(--dark-grey);
}

.search-bar {
    padding-left: 20px; 
    background-color: white;
    width: 65%;
    height: 2.5rem;
    border: 0px;
    border-radius: 20px;
}

.search-bar::placeholder {
    color: var(--place-holder);
}

.content {
    font-size: large;
}

.research-content {
    margin-left: 3%;
    background-color: white;
    width: 100%;
    height: 100%;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.content {
    font-size: large;
}

.margin-left {
    margin-left: 3%;
}

hr {
    border-color: white;
    border-width: 0.25px;
}

.topic {
    position: relative;
    display: inline-block;
    width: 42.5%;
    margin: 0 0 1rem 0;
}

.pic {
    width: 100%;
    height: 10rem;
    border-radius: 2rem;
}

.title-topic {
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: xx-large;
}

.cancel {
    font-size: x-large;
    color: white;
}

@media screen and (max-width: 530px) {
    .img {
        width: 100%;
    }

    .topic {
        width: 100%;
        margin: 0.25rem;
    }

    .title-topic {
        font-size: x-large;
        left: 10%;
    }

    .icon {
        width: 1rem;
        height: 1rem;
    }

    .cancel {
        font-size: large;
    }

  }