body {
    --main-color: #5362CE;
    --place-holder: #d1d1d1;
    --sub-color: #EAECFA;
    --dark-grey: #7a7c83;
    --light-purple: #5361ce98;
    --white: #ffffff;
    --white-gray: #d1d1d1;
    --white-grey: #d9d9d9;
    font-family: "Times New Roman", Times, serif;
    font-size: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bolder;
}

.large {
    font-size: large;
}

.larger {
    font-size: x-large;
}

.small {
    font-size: small;
}

.smaller {
    font-size: x-small;
}

.dark-grey {
    color: #7a7c83;
}

.white-grey {
    color: #d4d4d4;

}

.align-left {
    align-self: flex-start;
}

button:hover {
    cursor: pointer;
}

/* Navigation bar style */
  
  object.embedded-content {
    width: 100%;
    height: 4.5em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
@media screen and (max-width: 530px) {
    .img {
      width: 100%;
    }
    .folder {
      display: block;
    }
}

.container {
    display: flex;
    flex-direction: column;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.hover-area:hover {
    background-color: var(--main-color);
    color: white;
}

.hover-pointer:hover {
    cursor: pointer;
}

.icon-smaller {
    width: 1rem;
    height: 1rem;
    margin: 0.2rem;
}

.profile {
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 20px;
}

.home-page {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
}

h1 {
    margin-left: 20px;
    font-weight: bolder;
}

.content {
    display: flex;
}

.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 20%;
    height: 100%;
    background-color: var(--sub-color);
    border-radius: 2rem;
    margin-left: 1rem;
}

.part-name {
    font-size: large;
    color: var(--main-color);
    align-self: flex-start;
    margin-left: 0.5rem;
}

hr {
    height: 1px;
    width: 80%;
    background-color: var(--dark-grey);
}

.categories {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.collapsed-button {
    display: none;
}

.categories-status {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.option {
    height: 100%;
    margin: 0.5rem;
}

button {
    box-shadow: none;
    font-weight: bold;
}

.choice {
    width: 100%;
    height: 40px;
    background-color: white;
    border: 0px;
    color: var(--main-color);
    border-radius: 1rem;
    margin: 0.5rem;
}

.star {
    display: flex;
    align-self: flex-start;
    margin: 0.5rem;
}

.apps {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app {
    width: 45%;
    height: 300px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--sub-color);
}

.apps-in-a-row {
    display: flex;
    margin: 0 0.25rem 0 0.25rem;
}

.two-apps-in-a-row {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.thumbnail {
    width: 100%;
    height: 55%;
    border-radius: 1rem;
    background-color: var(--white-grey);
}

.app-text {
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    padding: 1rem;
}

.user {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0.2rem 1rem;
    box-sizing: border-box;
}

.info-user {
    display: flex;
    flex-direction: row;
}

.ava {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: var(--white-grey);
}

.name {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.request {
    background-color: var(--main-color);
    border-radius: 2rem;
    color: white;
    border: 0px;
    width: 40%;
    height: 70%;
}

@media screen and (max-width: 530px) {
    .content {
        display: block;
    }

    .img, .filter, .apps{
        width: 100%;
    }

    .two-apps-in-a-row {
        width: 100%;
        margin: 0 0.25rem 1rem 0.25rem;
        box-sizing: border-box;
    }

    .filter {
        box-sizing: border-box;
        margin: 0 0 1rem 0;
    }

    .categories {
        display: block;
    }

    .option {
        display: flex;
    }

    .apps-in-a-row {
        display: block;
        margin: 0 0 0 0;
    }
}