* {
  --light-purple: #5361ce98;
  --purple: #5362ce;
  --white: #ffffff;
  --white-gray: #d1d1d1;
  --white-grey: #d9d9d9;
  font-family: "Times New Roman", Times, serif;
}
/* Navigation bar */
.navbar-container {
  width: 100%;
  height: 4.5em;
  margin: 0 auto; /* Center the container */
  display: block; /* Ensure it behaves as a block-level element */
  padding: 0; /* Remove any padding */
}
.embedded-content {
  width: 100%; /* Make the embedded content fill the width of the parent div */
  height: fit-content; /* Make the embedded content fill the height of the parent div */
}

body{
  margin:0;
  padding:0;
}
/* Product image */
.wrapper {
  display: flex;
  flex-direction: row;
  margin: 2% 2% 0 2%;
}
.image,
.info {
  flex: 1;
}
.image {
  width: 100%;
  height: 25em;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--white-gray);
  border-radius: 5%;
  overflow: hidden;
}
img {
  height: 100%;
  
}

/* Product info */
.wrapper .info {
  font-weight: bold;
  margin-left: 1%;
}
.title {
  font-size: 2em;
}
.categories,
.description-title,
.status-text,
.location-text {
  font-size: 1.15em;
}
.categories {
  color: var(--white-gray);
}
.description {
  font-weight: normal;
  text-align: justify;
}

.status-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.box {
  display: flex;
  width: 7em;
  height: 3em;
  border: 0.1em solid var(--purple);
  border-radius: 1em;
  color: var(--purple);
  background-color: none;
  justify-content: center;
  align-items: center;
}

/* an example of chosen status (by user-the one who post the product)*/
.new {
  background-color: var(--purple);
  color: var(--white);
}

.foot-container {
  display: flex;
}
.user-display {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4.5em;
  overflow: hidden;
  margin-left: 2%;
}
.user-display,
.btn-display {
  flex: 1;
}
.user-avatar {
  display: flex;
  align-self: center;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: 2px solid var(--purple);
  overflow: hidden;
}
.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-info {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  column-gap: 0px;
  align-self: center;
}
.username {
  font-weight: bold;
  color: var(--purple);
}

.stars img {
  width: 0.75em;
}

.btn-display {
  display: flex;
  justify-content: center;
}
button {
  width: 45%;
  border: none;
  font-size: 2.15em;
  cursor: pointer;
}
.btn-add-to-cart {
  background-color: var(--white);
  color: var(--purple);
}
.btn-request {
  background-color: var(--purple);
  color: var(--white);
}
.btn-add-to-cart:hover {
  scale: 1.03;
  background-color: var(--white-gray);
}
.btn-request:hover {
  scale: 1.03;
  background-color: var(--light-purple);
}

@media only screen and (max-width: 530px) {
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  .image {
    height: 50%;
    border-radius: 2%;
  }
  img {
    width: 80%;
  }
  .box {
    width: 5.5em;
  }
  .foot-container {
    width: 100%;
    height: 4em;
  }
  button {
    font-size: 1.25em;
  }
}
